:root {
  --main-green: #0C5E43;
  --yellow: #FFD655;
  --light-bg: #E2EEEE;
  --dark-text: #222;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: var(--light-bg);
  color: var(--dark-text);
  scroll-behavior: smooth;
}

.section-title {
  font-size: 3rem;
  color: var(--main-green);
  margin-bottom: 0.5rem;
  text-align: center;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 3rem;
  text-align: center;
}